@inject HttpClient client

<div class="shadow p-3 mb-3 rounded">
    <div class="row justify-content-end">
        <span class="oi oi-trash" @onclick="DeleteTodoItem"></span>
    </div>
    <div class="row px-3">
        <h4 class="@titleCss" @onclick="ToggleDisplayTitleInput">@TodoItem.Title</h4>
        <input class="form-control @titleInputCss" type="text" placeholder="Click here to edit" @onfocusout="UpdateTitle" @bind="TodoItem.Title" />
    </div>
    <div class="row">
        <div class="col-lg-5">
            <p @onclick="ToggleDisplayTaskStatusInput" class="@taskStatusCss">@TodoItem.Status</p>
                <div class="input-group @taskStatusInputCss">
                    <select class="form-control" @bind="TodoItem.Status">
                        <option>@TodoItem.Status</option>
                        @foreach (string option in TaskStatusOptions)
                        {
                            if (option != TodoItem.Status)
                            {
                                <option>@option</option>
                            }
                        }
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" @onclick="UpdateTaskStatus">Update</button>
                    </div>
                </div>
        </div>
    </div>
    <div class="row px-3">
        <span class="@DescriptionCss" @onclick="ToggleDisplayDescriptionInput">@TodoItem.Description</span>
        <input type="text" class="form-control @inputDescriptionCss" placeholder="Click here to add a description" @bind-value="newTodoDescription" @onfocusout="AddDescription" />
    </div>
</div>

@code {

    [Parameter]
    public TodoItem TodoItem { get; set; }

    [Parameter]
    public EventCallback UpdateTodoItemList { get; set; }

    private List<string> TaskStatusOptions = new List<string> { "New", "Doing", "Done" };
    private string newTodoDescription;

    #region CSS Properties and Methods

    private bool displayDescriptionInput = false;
    private string inputDescriptionCss => displayDescriptionInput ? null : "d-none";
    private string DescriptionCss => displayDescriptionInput ? "d-none" : null;

    private bool displayTaskStatusInput = false;
    private string taskStatusInputCss => displayTaskStatusInput ? null : "d-none";
    private string taskStatusCss => displayTaskStatusInput ? "d-none" : null;

    private bool displayTitleInput = false;
    private string titleInputCss => displayTitleInput ? null : "d-none";
    private string titleCss => displayTitleInput ? "d-none" : null;

    public void ToggleDisplayDescriptionInput() => displayDescriptionInput = !displayDescriptionInput;
    public void ToggleDisplayTaskStatusInput() => displayTaskStatusInput = !displayTaskStatusInput;
    public void ToggleDisplayTitleInput() => displayTitleInput = !displayTitleInput;

    #endregion

    #region API Methods

    public async Task AddDescription()
    {
        if (!string.IsNullOrWhiteSpace(newTodoDescription))
        {
            TodoItem.Description = newTodoDescription;
            await UpdateTodoItem();
            newTodoDescription = string.Empty;
            await UpdateTodoItemList.InvokeAsync(null);
        }
        ToggleDisplayDescriptionInput();
    }

    public async Task UpdateTaskStatus()
    {
        ToggleDisplayTaskStatusInput();
        await UpdateTodoItem();
    }

    public async Task UpdateTitle()
    {
        ToggleDisplayTitleInput();
        await UpdateTodoItem();
    }

    public async Task UpdateTodoItem()
    {
        await client.PutAsJsonAsync("api/todoItem", TodoItem);
    }

    public async Task DeleteTodoItem()
    {
        await client.PostAsJsonAsync("api/todoItem/delete", TodoItem);
        await UpdateTodoItemList.InvokeAsync(null);
    }

    #endregion

}
