@inject HttpClient client

<div class="shadow p-3 mb-3 rounded">
    <div class="row">
        <div class="col">
            <h4>@TodoItem.Title</h4>
            <p @onclick="ToggleDisplayTaskStatusInput" class="@taskStatusCss">@TodoItem.Status</p>
            <select class="form-control @taskStatusInputCss">
                <option>@TodoItem.Status</option>
                <option>Doing</option>
                <option>Done</option>
                <option>New</option>
            </select>
        </div>
        <div class="col">
            <span class="oi oi-trash float-right" @onclick="DeleteTodoItem"></span>
        </div>
    </div>
    <div class="row p-3">
        <span class="@DescriptionCss" @onclick="ToggleDisplayDescriptionInput">@TodoItem.Description</span>
        <input type="text" class="form-control @inputDescriptionCss" placeholder="Click here to add a description" @bind-value="newTodoDescription" @onfocusout="AddDescription" />
    </div>
</div>

@code {

    [Parameter]
    public TodoItem TodoItem { get; set; }

    [Parameter]
    public EventCallback UpdateTodoItemList { get; set; }

    private string newTodoDescription;

    private bool displayDescriptionInput = false;
    private string inputDescriptionCss => displayDescriptionInput ? null : "d-none";
    private string DescriptionCss => displayDescriptionInput ? "d-none" : null;

    private bool displayTaskStatusInput = false;
    private string taskStatusInputCss => displayTaskStatusInput ? null : "d-none";
    private string taskStatusCss => displayDescriptionInput ? "d-none" : null;

    protected async void OnIntilizedAsync()
    {
        await base.OnInitializedAsync();
    }

    public void ToggleDisplayDescriptionInput() => displayDescriptionInput = !displayDescriptionInput;
    public void ToggleDisplayTaskStatusInput() => displayTaskStatusInput = !displayTaskStatusInput;

    public async Task AddDescription()
    {
        if (!string.IsNullOrWhiteSpace(newTodoDescription))
        {
            TodoItem.Description = newTodoDescription;
            await client.PutAsJsonAsync("api/todoItem", TodoItem);
            newTodoDescription = string.Empty;
            await UpdateTodoItemList.InvokeAsync(null);
        }
        ToggleDisplayDescriptionInput();
    }

    public async Task DeleteTodoItem()
    {
        await client.PostAsJsonAsync("api/todoItem/delete", TodoItem);
        await UpdateTodoItemList.InvokeAsync(null);
    }

}
